.table {
  max-height: calc(7 * 40px);
  max-width: calc(20 * 40px);
  overflow: auto;
}

@media (max-width: 770px) {
  .table {
    max-height: none;
  }
}

.grayText {
  color: gray;
  font-weight: normal;
}
