:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  margin: 0;
}
