.accordion {
  border: 1px solid #283047;
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #283047;
  cursor: pointer;
  user-select: none;
}

.icon {
  margin-right: 0.5em;
}

.title {
  flex-grow: 1;
}

.toggle {
  color: #63718f;
  background-color: inherit;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.content {
  padding: 1em;
}
